# =====================
# FLUTTER / DART
# =====================
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# =====================
# ANDROID
# =====================
android/app/build/
android/build/
android/.gradle/
**/android/**/local.properties

# =====================
# IOS / MACOS
# =====================
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
macos/Flutter/Flutter.framework
macos/Pods/

# =====================
# WINDOWS / LINUX
# =====================
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# =====================
# APK / AAB OUTPUT
# =====================
*.apk
*.aab

# =====================
# IDE
# =====================
.idea/
.vscode/
*.iml

# =====================
# LOG / SYSTEM
# =====================
*.log
.DS_Store
Thumbs.db

# =====================
# FLUTTER GENERATED
# =====================
.flutter-plugins
.flutter-plugins-dependencies
.generated/